.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .background-image {
        position: absolute;
        z-index: -1;
        width: 1920px;
        height: 700px;
        top: 0;
        background: linear-gradient(0deg, $secondary-color-transparent, transparent),
        linear-gradient(0deg, $back-overlay-color, $back-overlay-color),
        url("../img/dhl-transport-vehicles.png");
        background-repeat: no-repeat;
    }

    h2 {
        font-size: 50px;
        font-weight: 700;
        color: $text-white;
        word-spacing: 1px;
        letter-spacing: 2.5px;
        text-align: center;
        padding-top: 147px;
        padding-bottom: 55px;
    }

    .slider-play-button {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        background-color: $secondary-color;
        border: none;
        color: $text-red;
        font-size: 20px;
        cursor: pointer;
        transition: $transition-duration;

        &:hover {
            box-shadow: 0 10px 18px $secondary-color-transparent;
        }
    }
    
    .about-slider {
        margin-top: 177px;
        width: 1170px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .slider-item {

            .text-area {
                box-shadow: 0 10px 18px $black-shadow-transparent;
                padding: 27px 30px;

                h3 {
                    margin-bottom: 32px;
                    font-size: 20px;
                    font-weight: 700;
                    color: $text-red;
                    text-transform: capitalize;
                    word-spacing: 1px;
                    letter-spacing: 1px;
                }

                ul {
                    list-style-type: none;                  

                    li {
                        margin-top: 11px;
                        padding-left: 20px;
                        background-image: url("../img/arrow-right.png");
                        background-position: 0 0;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}