.clients {
    padding: 70px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            width: 270px;
            height: 128px;
            background-color: $dark-white-background-color;
            border: 2px solid $light-pink-color;
            transition: $transition-duration;

            &:hover {
                border-color: $primary-color;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                img {
                    width: 88%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .clients {
        .wrapper {
            padding: 0;

            li {
                margin: 10px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .clients {
        padding: 40px 0;
        
        .wrapper {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}
