/* Footer */
/*------------------------------------------------------------------*/
footer {
    height: 311px;
    padding-top: 58px;
    background: url("../img/footer-background-left.png"),
        url("../img/footer-background-right.png"),
        linear-gradient(90deg, $primary-color, $primary-color 10%, transparent 10%, transparent 90%, $secondary-color 90%, $secondary-color);
    background-repeat: no-repeat;
    background-position: top 0px left 40px,
        top 0px right 40px,
        top left;

    .wrapper {
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;

        section {
            width: 270px;

            h3 {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                word-spacing: 5px;
                color: $text-red;
            }

            ul {
                margin-top: 35px;

                li {
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 10px;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 0.6px;
                    word-spacing: 1px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 2px;
                        left: 0;
                        border: 5px solid transparent;
                        border-left-color: $primary-color;
                    }

                    a {
                        color: $text-grey;
                        text-decoration: none;
                        transition: $transition-duration;

                        &:visited {
                            color: $text-grey;
                        }
                    }
                }
            }
        }

        .contact-center {
            margin-left: 100px;

            a:hover {
                color: $text-yellow;
            }
        }

        .about-us {
            margin-left: 130px;

            a:hover {
                color: $text-yellow;
            }
        }

        .social-media {
            margin-left: 30px;

            a:hover {
                color: $text-blue;
            }
        }
    }
}

@media screen and (max-width: 1740px) {
    footer {
        background: linear-gradient(90deg, $primary-color, $primary-color 2.5%, $light-grey-darker 2.5%, $light-grey-lighter 97.5%, $secondary-color 97.5%, $secondary-color);
        padding: 0;
        padding-top: 40px;

        .wrapper {
            height: 100%;
            width: 95%;
            max-width: 1170px;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;

            section {
                width: 225px;
            }

            .contact-center, 
            .about-us,
            .social-media {
                margin: 20px;
            }
        } 
    }
}

@media screen and (max-width: 1200px) {
    footer {
        height: auto;
        padding: 40px 0 40px 40px;
    }
}

@media screen and (max-width: 1024px) {
    footer {
        padding-left: 20px;
        padding-right: 0;

        .wrapper {
            section {
                width: 200px;

                h3 {
                    font-size: 18px;
                }

                ul {
                    li {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    footer {
        .wrapper {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        background: linear-gradient(90deg, $primary-color, $primary-color 10%, $light-grey-darker 10%, $light-grey-lighter 90%, $secondary-color 90%, $secondary-color);
        padding-bottom: 20px;

        .wrapper {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;

            section {
                width: 260px;
            }
        }
    }
}

