//general variables
//----------------------------------------------------------------------

// main theme colors
$primary-color: #ba0000;
$primary-color-transparent: rgba(186, 0, 0, 0.4);
$secondary-color: #ffcc00;
$secondary-color-transparent: rgba(255, 204, 0, 0.4);
$dark-red-color: #9d0000;

// text colors
$text-white: #fff;
$text-yellow: $secondary-color;
$text-red: $primary-color;
$text-grey: #777777;
$text-black: #232322;

// buttons
$button-height: 50px;

// transitions
$transition-duration: .3s;


// general styles
//------------------------------------------------------------------------
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: .34px;
    width: 100vw;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4274px;
    overflow-x: hidden;

    // Temporary block for add transparent background image of whole page, to check right positions and values of elements
    &::before {
        display: none;
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position:absolute;
        // z-index: -1;
        // opacity: 0;
        opacity: .5;
        background-image: url(../design/deliver-website-zero-background.png);
    }
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.hover {
    transition: all .3s ease 0s;
}

.pointer {
    cursor: pointer;
}