// header-menu
//--------------------------------------------------------------

.header-menu {
    background-color: $primary-color;
    height: 50px;
    font-size: 14px;
    color: $text-white;

    .wrapper {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-contacts {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .contact-center {
                margin-right: 30px;

                i {
                    margin-right: 3px;
                }
            }
        }
    }

    .hover:hover{
        color: $secondary-color;
    }
}