// header-menu
//--------------------------------------------------------------

.header-menu {
    background-color: $primary-color;
    height: $header-menu-height;
    font-size: 14px;
    font-weight: 300;
    color: $text-white;

    .wrapper {
        height: $header-menu-height;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .choose-language {
            position: relative;

            .choose-language-button {
                background: none;
                border: none;
                font-size: 14px;
                font-weight: 300;
                color: $text-white;
                letter-spacing: 1px;
                padding: 0;
                cursor: pointer;
            }   
            
            .language-list {
                position: absolute;
                width:60px;
                height: 0;
                overflow: hidden;
                transition: height ease $transition-duration;

                li {
                    a {
                        display: block;
                        text-transform: capitalize;
                        text-decoration: none;
                        color: $text-white;
                        padding: 0 4px;

                        &:visited {
                            color: $text-white;
                        }

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    &:hover {
                        background-color: $secondary-color;
                    }
                }
            }

            &:hover {
                .choose-language-button {
                    color: $text-yellow;
                }

                .language-list {
                    height: 45px;
                    border: 1px solid white;
                    background-color: $primary-color;
                }
            }
        }

        .header-contacts {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .contact-center {
                margin-right: 30px;
                transition: $transition-duration;

                i {
                    margin-right: 3px;
                }

                &:hover {
                    color: $text-yellow;
                    cursor: pointer;
                }
            }

            .country-profile {
                position: relative;

                &:hover span, &:hover i {
                    color: $text-yellow;
                    cursor: pointer;
                    transition: $transition-duration;
                }

                .country-profile-list {
                    position: absolute;
                    width: 120px;
                    border: none;
                    background-color: $primary-color;
                    height: 0;
                    transition: height ease $transition-duration;
                    overflow: hidden;

                    li {
                        padding: 0 4px;
                        cursor: pointer;

                        &:hover {
                            background-color: $secondary-color;
                            color: $text-red;
                        }
                    }
                }

                &:hover {
                    .country-profile-list {
                        height: 45px;
                        border: 1px solid white;
                    }  
                }
            }
        }
    }
}

// Main menu
//-----------------------------------------------------------------------
.main-menu {
    background-color: $secondary-color;

    .wrapper {
        height: $main-menu-height-desktop;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo, .search {
            min-width: $search-width + $button-height;
        }

        nav {   
            height: 100%;
            line-height: $main-menu-height-desktop;

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                color: $text-red;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
    
                li {
                    height: 100%;
                    padding: 0 12px;
                    margin: 0 11px;
                    text-align: center;

                    &.selected {
                        border-bottom: 4px solid $primary-color;
                        font-weight: 900;
                    }

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

        .search {
            width: $search-width + $button-height;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background-color: $primary-color;
                height: $button-height;
                border-radius: $button-height;
                transition: $transition-duration;

                &:hover {
                    box-shadow: 0 10px 18px $primary-color-transparent;

                    input {
                        width: $search-width;
                        padding: 0 10px;
                    }

                    button {
                        background-color: $secondary-color;
                        color: $text-red;
                    }
                }
    
                input {
                    border: none;
                    background: none;
                    outline: none;
                    padding: 0;
                    font-size: 14px;
                    color: $text-white;
                    width: 0px;
                    transition: $transition-duration;

                    &::-webkit-input-placeholder {
                        color: $text-lightgrey;
                    }
                    &::-ms-input-placeholder {
                        color: $text-lightgrey;
                    }
                    &::placeholder {
                        color: $text-lightgrey;
                    }
                }
    
                button {
                    background-color: $primary-color;
                    min-width: $button-height;
                    width: $button-height;
                    height: $button-height;
                    border-radius: 50%;
                    border: 5px solid $primary-color;
                    color: $text-white;
                    padding: 5px;
                    cursor: pointer;
                    transition: $transition-duration;
                }
            }
        }
    }
}

// Header info section
// ---------------------------------------------------------------------
.header-info {
    height: 800px;
    background: linear-gradient(45deg, $primary-color 20%, transparent 70%, transparent),
    url("../img/skier-and-dhl-delivery-car.png");
    background-position: center;

    .wrapper {
        h1 {
            padding-top: 170px;
            width: 470px;
            font-size: 70px;
            font-weight: 700;
            line-height: 1.15;
            letter-spacing: 3.1px;
            word-spacing: 6px;
            color: $text-white;
        }

        hr {
            width: 96px;
            border: 2px solid $secondary-color;
            margin-top: 44px;
            margin-left: 0;
            margin-bottom: 33px;
            text-align: left;
        }

        p {
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.51px;
            color: $text-yellow;
        }

        ul {
            width: 470px;
            display: flex;
            justify-content:space-between;
            font-size: 20px;
            font-weight: 700;
            word-spacing: 10px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $text-yellow;
            margin-top: 38px;
            margin-bottom: 40px;

            li {
                margin-right: 15px;
            }
        }

        .buttons {
            button {
                height: $button-height;
                background: none;
                border: 2px solid white;
                border-radius: $button-height;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $text-white;
                text-align: center;
                margin-right: 14px;
                cursor: pointer;
                transition: $transition-duration;

                &:first-child {
                    width: 150px;
                }

                &:nth-child(2) {
                    width: 192px;
                }

                &:hover {
                    background-color: $secondary-color;
                    border-color: $secondary-color;
                    color: $text-red;
                    box-shadow: 0 10px 18px $secondary-color-transparent;
                }
            }
        }
    }
}
