.services {
    .wrapper {
        position: relative;

        h2 {
            font-size: 50px;
            font-weight: 700;
            color: $text-red;
            letter-spacing: 2px;
            padding-top: 130px;
            padding-bottom: 108px;
        }

        p.background-text {
            position: absolute;
            top: 80px;
            z-index: -1;
            opacity: 0.03;
            font-size: 150px;
            font-weight: 700;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: $text-red;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .card {
                width: 270px;
                height: 350px;

                img {
                    width: 100%;
                    height: 180px;
                }

                h3 {
                    padding-top: 24px;
                    padding-bottom: 12px;
                    font-size: 20px;
                    font-weight: 700;
                    color: $text-red;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                p {
                    color: $text-grey;
                    font-size: 16px;
                    line-height: 1.6;
                }

                button {
                    margin-top: 16px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: 0 0;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: $text-black;
                    transition: $transition-duration;

                    &:hover {
                        color: $text-red;
                    }

                    i {
                        color: $primary-color;
                    }
                }

                &.red {
                    box-sizing: border-box;
                    height: 339px;
                    background-color: $primary-color;
                    padding: 29px;

                    h3 {
                        padding-top: 0;
                        padding-bottom: 18px;
                        text-transform: none;
                        color: $text-white;
                    }

                    hr {
                        width: 70px;
                        border: 1px solid $secondary-color;
                        margin-left: 0;
                    }

                    p {
                        color: $text-white;
                        margin-top: 26px;
                    }

                    .input-location {
                        margin-top: 35px;
                        display: flex;

                        input {
                            box-sizing: border-box;
                            width: 160px;
                            height: $button-height;
                            background-color: $dark-red-color;
                            border: none;
                            outline: none;
                            margin: 0;
                            padding-left: 20px;
                            color: $text-white;
                            font-size: 16px;
                            
                            &::placeholder {
                                color: $text-white;
                            }
                        }

                        button {
                            width: $button-height;
                            margin: 0;
                            padding: 0;
                            height: $button-height;
                            background: $secondary-color;

                            &:hover {
                                box-shadow: 0 10px 18px $secondary-color-transparent;
                            }
                        } 
                    }

                    .button-explore {
                        width: 150px;
                        height: $button-height;
                        margin-top: 20px;
                        border: 2px solid white;
                        border-radius: $button-height / 2;
                        background: none;
                        font-size: 12px;
                        font-weight: 900;
                        color: $text-white;
                        text-align: center;
                        text-transform: uppercase;
                        transition: $transition-duration;

                        &:hover {
                            box-shadow: 0 10px 18px $secondary-color-transparent;
                            background: $secondary-color;
                            border-color: $secondary-color;
                            color: $text-red;
                        }
                    }
                }
            }
        }
    }
}